* {
	box-sizing: border-box;
}
body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	color: #242424;
	background-color: #ffffff;
}
h2 {
	font-size: 50px;
	font-weight: 900;
}
h3 {
	font-size: 35px;
	font-weight: 900;
}
img {
	max-width: 100%;
}
.btn {
	display: inline-block;
	width: 200px;
	height: 55px;
	padding-top: 16px;
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: #90d23d;
	border-radius: 15px;
}
.btn:hover {
	opacity: 0.8;
}
.svg-spite {
	position: absolute;
	top: 0;
}
.icon {
	fill: #ffffff;
	fill-rule: evenodd;
	filter: url(#filter);
}
.icon:hover {
	opacity: 0.7;
}
.icon:active {
	filter: url(#filter_);
}

/*page-header*/

.page-header {
	position: relative;
	width: 100%;
	color: #ffffff;
	background-color: #4a454b;
}
.page-header::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 51px;
	margin-top: -50px;
	background-color: #ffffff;
}
.page-header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 45px 70px 0 70px;
	width: 1170px;
	min-height: 810px;
	margin: 0 auto;
	background: url("../img/hero-header.png") no-repeat 13px bottom;
}
.page-header__separator {
	position: absolute;
	margin-top: -155px;
	width: 100%;
	height: 105px;
}
.page-header__separator::before {
  content: "";
	position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}
.page-header__separator::after {
	content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.page-header__logo {
	width: 430px;
}
.page-header__main-navigation {
	width: 600px;
	padding-top: 25px;
}
.page-header__main-navigation ul {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
}
.page-header__main-navigation li {
	padding: 0 18px;
}
.page-header__main-navigation li:last-child {
	padding-right: 0;
}
.page-header__link-menu {
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}
.page-header__link-menu:hover {
	color: #90d23d;
}
.page-header__timer {
	width: 970px;
	height: 196px;
	padding: 0 50px 0 71px;
	margin: 116px auto 0 auto;
	font-family: "Roboto Slab", "Book Antiqua", serif;
	color: #ffffff;
	border: 2px solid #90d23d;
	border-radius: 20px;
}
.page-header__time {
	font-size: 130px;
	font-weight: 100;
	line-height: 140px;
}
.page-header__units {
	display: flex;
	justify-content: space-between;
	padding-right: 25px;
	font-size: 25px;
	font-weight: normal;
	line-height: 40px;
	text-transform: uppercase;
}
.page-header__units span {
	width: 134px;
	text-align: center;
}

/*greeting*/

.greeting {
	position: relative;
	width: 1170px;
	min-height: 300px;
	margin: 0 auto;
	padding: 0 570px 70px 70px;
}
.greeting__welcome {
	padding-top: 8px;
}
.greeting h2 {
	margin: 0;
}
.greeting p {
	margin-bottom: 19px;
}

/*check-in*/

.check-in {
	position: absolute;
	bottom: 89px;
	right: 68px;
	width: 432px;
	min-height: 530px;
	padding: 28px 30px 20px 30px;
	text-align: center;
	font-size: 15px;
	background-color: #ffffff;
	border: 1px solid #dbdada;
	border-radius: 3px;
}
.check-in h3 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 30px;
}
.check-in input {
	width: 100%;
	height: 55px;
	margin-bottom: 19px;
	padding: 0 15px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 19px;
	border: 1px solid #bebebe;
	border-radius: 5px;
}
.check-in input:focus {
	border-color: #90d23d;
	outline: none;
}
.check-in input[type="submit"] {
	margin-top: 21px;
	font-size: 22px;
	font-weight: bold;
	color: #ffffff;
	background-color: #90d23d;
	border: none;
	cursor: pointer;
}
.check-in input[type="submit"]:hover {
	opacity: 0.8;
}
.check-in p {
	margin: 0;
}

/*details*/

.details {
	display: flex;
	width: 1170px;
	min-height: 500px;
	padding: 50px 70px;
	margin: 0 auto;
	text-align: center;
}
.details__item {
	margin-right: 60px;
}
.details__item:last-child {
	margin-right: 0;
}
.details__image {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 215px;
}
.details__item h3 {
	margin-bottom: 0;
}
.details__item p {
	margin-top: 18px;
}

/*program*/

.program {
	width: 1170px;
	padding: 20px 70px;
	margin: 0 auto 200px auto;
}
.program table {
	width: 100%;
	color: #ffffff;
	border-collapse: collapse;
}
.program tr {
	height: 75px;
}
.program tr:nth-child(2n) {
	background-color: #373737;
}
.program tr:nth-child(2n+1) {
	background-color: #4b4d4f;
}
.program th {
	padding-left: 73px;
	padding-right: 100px;
	font-size: 30px;
	font-weight: 900;
	text-align: left;
	background-color: #a3cc40;
}
.program th:first-child {
	width: 225px;
	padding: 0;
	text-align: center;
	border-top-left-radius: 15px;
}
.program th:last-child {
	position: relative;
	border-top-right-radius: 15px;
}
.program td {
	position: relative;
	padding-left: 73px;
	padding-right: 100px;
	font-size: 22px;
	font-weight: normal;
}
.program td:first-child {
	width: 225px;
	padding: 0;
	text-align: center;
}
.program tr:last-child td:first-child {
	text-align: center;
	border-bottom-left-radius: 15px;
}
.program tr:last-child td:last-child {
	border-bottom-right-radius: 15px;
}
.program__info {
	position: absolute;
	top: 24px;
	right: 49px;
	width: 34px;
	height: 34px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	background-color: #ffffff;
	border-radius: 50%;
}
.program__info:hover {
	opacity: 0.8;
}
.program tr:nth-child(2n) .program__info {
	color: #373737;
}
.program tr:nth-child(2n+1) .program__info {
	color: #4b4d4f;
}
.program p {
	text-align: center;
	padding: 0 100px;
	margin-top: 40px;
	margin-bottom: 0;
}

/*elite*/

.elite {
	background-color: #4b4d4f;
	transform: skewY(-5deg);
}
.elite__wrapper {
	position: relative;
	width: 1030px;
	padding: 65px 0 113px 360px;
	margin: 0 auto;
	text-align: right;
	color: #ffffff;
	transform: skewY(5deg);
}
.elite__image {
	position: absolute;
	top: -137px;
	left: -6px;
}
.elite h2 {
	margin-bottom: 26px;
}
.elite p {
	margin-top: 0;
	margin-bottom: 20px;
}
.elite p:last-of-type {
	margin-bottom: 38px;
}
.elite__swag {
	padding-top: 18px;
	font-size: 18px;
}

/*speakers*/

.speakers {
	width: 1170px;
	min-height: 1300px;
	padding: 58px 100px 140px 100px;
	margin: 100px auto;
}
.speakers__info {
	padding-right: 398px;
	margin-bottom: 62px;
}
.speakers__info h2 {
	margin-bottom: 24px;
}
.speakers__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	height: 972px;
}
.speakers__item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 296px;
	height: 296px;
	padding: 20px 33px;
	color: #ffffff;
	background-image: url("../img/3.jpg");
	border-radius: 15px;
}
.speakers__item--win {
	justify-content: center;
	background: inherit;
}
.speakers__item:not(.speakers__item--win)::before {
	content: "";
	position: absolute;
	top: 127px;
	left: 32px;
	width: 83px;
	height: 6px;
	background-color: #ffffff;
}
.speakers__item:not(.speakers__item--win)::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-color: #90d23d;
}
.speakers__item:hover::after {
	background-color: #46c70b;
}
.speakers__items .speakers__item--active::after {
	z-index: -1;
}
.speakers__item h3 {
	margin-top: 11px;
	margin-bottom: 26px;
	font-size: 45px;
	line-height: 45px;
}
.speakers__item p {
	flex-grow: 1;
	margin-top: 0;
	font-size: 18px;
	font-weight: 500;
}
.speakers__links {
	display: flex;
}
.speakers__link {
	display: block;
	width: 34px;
	height: 34px;
	margin-right: 4px;
}

/*sponsor*/

.sponsor {
	padding-top: 100px;
	padding-bottom: 70px;
	background-color: #4b4d4f;
	transform: skewY(-5deg);
}
.sponsor__wrapper {
	width: 1170px;
	padding: 0 270px;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
	transform: skewY(5deg);
}
.sponsor h2 {
	margin-top: 0;
	margin-bottom: 27px;
}
.sponsor p {
	margin-top: 0;
	margin-bottom: 1px;
}
.sponsor p:last-of-type {
	margin-top: 18px;
	margin-bottom: 18px;
}
.sponsor__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 140px;
	padding-right: 30px;
}
.sponsor__link--envato {
	padding-top: 9px;
}
.sponsor__us {
	margin-top: 30px;
}

/*past*/

.past {
	width: 1170px;
	padding: 63px 0 32px 0;
	margin: 60px auto;
	text-align: center;
}
.past__info {
	text-align: left;
	padding: 0 470px 0 100px;
	margin-bottom: 104px;
}
.past__info h2 {
	margin-bottom: 25px;
}
.past__events {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	height: 786px;
	margin-bottom: 94px;
}
.past__event--blue {
	width: 600px;
	height: 417px;
	background-color: #3d6ed2;
}
.past__event--green {
	width: 570px;
	height: 417px;
	background-color: #90d23d;
}
.past__event--orange {
	width: 500px;
	height: 368px;
	background-color: #ff9d00;
}
.past__event--red {
	width: 670px;
	height: 368px;
	background-color: #e0652a;
}
.past__more {
	background-color: #373737;
}

/*contact*/

.contact {
	position: relative;
	height: 660px;
	background: #484744 url("../img/map-hall.png") no-repeat 50% 0%;
}
.contact__overlay-map {
	position: relative;
	z-index: 5;
	display: flex;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.contact__overlay-map--none {
	display: none;
}
.contact__popup {
	display: flex;
	justify-content: space-between;
	width: 970px;
	min-height: 530px;
	margin: auto;
	padding: 60px 70px 52px 70px;
	background-color: #ffffff;
}
.contact__address {
	width: 330px;
	padding: 38px 30px 40px 34px;
	text-align: center;
}
.contact__address p {
	margin-top: 42px;
	margin-bottom: 29px;
	font-size: 18px;
}
.contact__feedback {
	width: 400px;
}
.contact__feedback input[type=email] {
	width: 100%;
	padding: 15px 20px;
	margin-bottom: 26px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 19px;
	font-weight: 300;
	border: 1px solid #bebebe;
	border-radius: 5px;
}
.contact__feedback textarea {
	width: 100%;
	padding: 15px 20px 25px 20px;
	margin-bottom: 22px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 19px;
	font-weight: 300;
	border: 1px solid #bebebe;
	border-radius: 5px;
}
.contact__feedback input:focus,
.contact__feedback textarea:focus  {
	border-color: #90d23d;
	outline: none;
}
.contact__feedback input[type=submit] {
	width: 100%;
	padding: 17px 20px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 22px;
	font-weight: normal;;
	color: #ffffff;
	background-color: #373737;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}
.contact__feedback input[type=submit]:hover {
	opacity: 0.8;
}
.contact__show {
	position: absolute;
	bottom: 5px;
	left: 50%;
	z-index: 3;
	margin-left: -100px;
	display: none;
}
.contact__show--show {
	display: block;
}
.contact__map {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	height: 660px;
	width: 100%;
	border: none;
}
/*page-footer*/

.page-footer {
	min-height: 220px;
	background-color: #90d23d;
}
.page-footer__wrapper {
	width: 1170px;
	padding: 0 380px;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
}
.page-footer__wrapper p {
	margin: 0;
}

/*social*/

.social {
	display: flex;
	justify-content: space-between;
	padding: 60px 62px 32px 59px;
}
.social__link {
	display: block;
	width: 48px;
	height: 48px;
}

/*up*/

.up {
	position: fixed;
	bottom: 92px;
	right: 80px;
	z-index: 10;
	width: 20px;
	height: 20px;
	border-top: 5px solid #212121;
	border-left: 5px solid #212121;
	transform: rotate(45deg);
	opacity: 0.8;
}
.up:hover {
	opacity: 1;
}
